@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #171717;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #262626;
}

::-webkit-scrollbar-thumb {
  background: #525252;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
